body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-section {
  width: 100%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
